<ion-content>
    <div class="full-screen-card">
        <swiper-container
            events-prefix="swiper-"
            grab-cursor="true"
            slides-per-view="1"
            initial-slide="2"
            effect="cards"
            [cards-effect]="{
                perSlideOffset: 8,
                perSlideRotate: 0,
                rotate: true,
                slideShadows: true,
            }"
            (swipe)="onSlideNextTransition($event, false)">
            <swiper-slide>
                <app-swiper-card [styleCard]="'invisible'"></app-swiper-card>
            </swiper-slide>
            <swiper-slide *ngFor="let option of options">
                <app-swiper-card [styleCard]="'visible'" [imageSrc]="option.imageSrc" [title]="option.title"></app-swiper-card>
            </swiper-slide>
            <swiper-slide>
                <app-swiper-card [styleCard]="'finish'"></app-swiper-card>
            </swiper-slide>
        </swiper-container>
    </div>
</ion-content>